body,
html {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.bg {
  height: 100%;
  width: 100%;
  background-image: url("./images/tunguska_edited.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: black;
  padding: 1em;
  font-size: 2.5em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centerBox {
  height: 23em;
  width: 66%;
  background-color: whitesmoke;
  display: inline-block;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bioText {
  margin: 16% 10%;
  line-height: 183%;
}

.linkBox {
  padding: 4%;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

a:link {
  color: whitesmoke;
}

a:hover {
  color: gray;
}

.contactBox {
}
